*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo{
    max-width: 500px;
    margin-inline: auto;
}

.inputBtn{
    margin-inline: auto;
    max-width: 800px;
}

.list{
    max-width: 900px;
    margin-inline: auto;
}

.finish{
    text-align: center;
}