*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo{
    max-width: 500px;
    margin-inline: auto;
}

.inputBtn{
    display: flex;
    justify-content: center;
    margin-inline: auto;
    max-width: 800px;
}